body {
	background-color: lightgray;
}

#content {
	background-color	: white;
	margin				: 10px;
	border-radius		: 5px;
	box-shadow			: 5px 5px 5px 8px #999;
}

#divProcedureList {
	overflow	: scroll;
	height		: 550px;
}

#iconLogin {
	width		: 30px; 
	height		: 30px;
	position	: absolute;
	right		: 15px;
	top			: 12px;
}

#iconLogout {
	width		: 30px; 
	height		: 30px;
	position	: absolute;
	right		: 15px;
	top			: 12px;
}

#divPageTitle {
	padding		: 20px;
}

